<footer class="footer">
  <div class="wrapper">
    <nav class="extra-content">
      <a href="https://adalab.es/" title="Read more content about articles">articles</a>
      <a href="https://adalab.es/" title="Read more content about books">books</a>
      <a href="https://adalab.es/" title="Read more content about events">events</a>
      <a href="https://adalab.es/" title="Read more content about reasons">reasons</a>
      <a href="https://adalab.es/" title="Read more content about tips">tips</a>
    </nav>
    <nav class="links">
      <a href="https://adalab.es/" title="Go to twitter">twitter</a>
      <a href="https://adalab.es/" title="Go to instagram">instagram</a>
      <a href="https://adalab.es/" title="Go to mastodon.social">mastodon.social</a>
    </nav>
    <div class="copy">
      <small>
        <span>&copy; 2017
        </span>
        <span>we <img src="./assets/images/corazon.svg"> components</span>
      </small>
    </div>
  </div>
</footer>