<footer class="footer">
  <div class="narrow">
    <a href="./index.html#top" title="Go to top content">
      <img alt="Go to top content button" title="Go to the top buttom" src="./assets/images/ico-arrow.svg">
    </a>
  </div>
  <div class="wrapper">
    <nav class="extra-content">
      <a href="https://adalab.es/" title="Read more content about articles" target="_blank">articles
      </a>
      <a href="https://adalab.es/" title="Read more content about books" target="_blank">books
      </a>
      <a href="https://adalab.es/" title="Read more content about events" target="_blank">events
      </a>
      <a href="https://adalab.es/" title="Read more content about reasons" target="_blank">reasons
      </a>
      <a href="https://adalab.es/" title="Read more content about tips" target="_blank">tips
      </a>
    </nav>
    <nav class="links">
      <a href="https://adalab.es/" title="Go to twitter" target="_blank">twitter
      </a>
      <a href="https://adalab.es/" title="Go to instagram" target="_blank">instagram
      </a>
      <a href="https://adalab.es/" title="Go to mastodon.social" target="_blank">mastodon.social
      </a>
    </nav>
    <div class="copy">
      <small>
        <span class="year">&copy; 2017
        </span>
        <span class="year">we <img src="./assets/images/corazon.svg"> components
        </span>
      </small>
    </div>
  </div>
</footer>