<footer class="footer">
  <nav class="extra-content">
    <a src="#" title="Read more content about articles">articles</a>
    <a src="#" title="Read more content about books">books</a>
    <a src="#" title="Read more content about events">events</a>
    <a src="#" title="Read more content about reasons">reasons</a>
    <a src="#" title="Read more content about tips">tips</a>
  </nav>
  <nav class="links">
    <a src="#" title="Go to twitter">twitter</a>
    <a src="#" title="Go to instagram">instagram</a>
    <a src="#" title="Go to mastodon.social">mastodon.social</a>
  </nav>
  <div class="copy">
    <small>
      <span>&copy; 2017
      </span>
      <span>we <img src="../assets/images/corazon.svg"> components</span>
    </small>
  </div>
</footer>