<section class="options">
  <h3>looking through a window</h3>
  <div class="articles">
    <article class="item1">
      <h4>Ut sed metus</h4>
      <p>Lorem ipsum dolor sit, amet consectetur.</p>
    </article>
    <article class="item2">
    </article>
    <h4>Curabitur ac erat</h4>
    <p>Mauris mattis urna wuis lorem molestie.</p>
    <article class="item3">
      <h4>Morbi dictum</h4>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <a href="#" title="Go to more reasons content">
    <h4>more reasons</h4>
  </a>
  <div>
    <img alt="Go to the top buttom" title="Go to the top buttom" src="./assets/images/ico-arrow.svg">
  </div>
</section>