<section class="options" id="options">
  <h3 class="options-title">3 reasons to purchase
  </h3>
  <!-- <div class="articles"> -->
  <article class="item1">
    <h4 class="title1">Ut sed metus
    </h4>
    <p class="text1">Lorem ipsum dolor sit, amet consectetur.
    </p>
    <!-- </article>
    <article class="item2"> -->
    <h4 class="title2">Curabitur ac erat
    </h4>
    <p class="text2">Mauris mattis urna wuis lorem molestie.
    </p>
    <!-- </article>
    <article class="item3"> -->
    <h4 class="title3">Morbi dictum
    </h4>
    <p class="text3">Aliquam in dolor et dolor tincidunt.
    </p>

    <!-- </div> -->
    <a href="#" title="Go to more reasons content" class="reasons-button">
      <h4 class="button-title">More reasons
      </h4>
    </a>
  </article>
</section>