/*color*/
$color-light: #ffffff;
$color-border-buttom: #f26002;
$color-back-text: #8ccbea;
$color-back-options: #eff9ff;
$color-back-buttom: #0271bc;
$color-back-footer: #304268;
$color-light-text: #4a4a4a;
$color-dark: #000000;

/*font*/
$primary-font: "Roboto Slab", serif;

/*breakpoint*/

$tablet: 768px;
$desktop: 1200px;
