/*color*/
$color-light: #ffffff;
$color-border-buttom: #f26002;
$color-back-text: #8ccbea;
$color-back-options: #eff9ff;
$color-back-buttom: #0271bc;
$color-back-footer: #304268;
$color-light-text: #4a4a4a;

/*font*/
$primary-font: "Roboto Slab", serif;

/*font size*/
$xsmall: 14px;
$small: 16px;
$medium: 18px;
$large: 20px;
$xlarge: 22px;
$xxlarge: 24px;

/*breakpoint*/

$tablet: 768px;
$display: 1200px;
