.footer {
  height: 485px;
  padding-top: 20px;
  color: $color-light;
  line-height: 0.9;
  font-size: 12px;
  // EN REALIDAD SON 16PX
  background-color: $color-back-footer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & .extra-content,
  .links {
    text-transform: uppercase;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;

    & a {
      padding: 4px;
    }
  }

  & span {
    display: block;
    text-align: center;
    padding: 5px;

    & img {
      height: 10px;
      width: 10px;
    }

    &:first-child {
      margin-top: 5px;
    }
  }
}
