.footer {
  padding: 45px 0px;
  color: $color-light;
  font-size: rem(16);
  background-color: $color-back-footer;

  & .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: flex-start;
    }

    & .links {
      padding-top: 30px;

      @include tablet {
        padding-top: 0px;
        order: -2;
      }
    }

    & .extra-content,
    .links {
      line-height: 1.5;
      text-transform: uppercase;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      text-align: center;

      @include tablet {
        text-align: left;
      }

      & a {
        padding: 4px;
      }
    }

    & .year {
      display: block;
      text-align: center;
      padding: 5px;

      @include tablet {
        text-align: left;
      }

      & img {
        height: 10px;
        width: 10px;
      }

      &:first-child {
        margin-top: 20px;
      }
    }
  }
}
