.header {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  // background-position: center;
  background-position: top;

  & .wrapper {
    height: 100vh;
    padding: 45px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    color: $color-light;

    & .text1 {
      text-transform: uppercase;
      font-size: 42px;
      margin-bottom: 10px;
      & span {
        display: block;
      }
    }

    & .text2 {
      display: inline-block;
      text-transform: capitalize;
      font-weight: normal;
      font-size: $small;
    }

    & .buttom {
      background-color: $color-light;
      width: 40px;
      padding: 10px;
      border-radius: 100%;
      align-self: center;
      margin-top: 45px;
    }
  }
}
