.hero {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: top;

  & .wrapper {
    height: 100vh;
    padding: 0 15px 53px 15px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    color: $color-light;

    @include tablet {
      padding: 39px;
      max-height: 768px;
    }

    @include desktop {
      padding: 20px 275px;
    }

    & .text1 {
      text-transform: uppercase;
      font-size: 42px;
      margin-bottom: 20px;

      & span {
        display: inline-block;
        line-height: 55px;
      }

      @include tablet {
        font-size: 80px;
      }

      @include desktop {
        font-size: 100px;
      }
    }

    & .text2 {
      display: inline-block;
      text-transform: capitalize;
      font-weight: normal;
      font-size: $small;

      @include tablet {
        font-size: $large;
      }
    }

    & .buttom {
      background-color: $color-light;
      width: 40px;
      padding: 10px;
      border-radius: 100%;
      align-self: center;
      margin-top: 35px;
    }
  }
}
