.main {
  padding: 30px 15px 45px;
  max-width: 1200px;
  margin: auto;

  @include tablet {
    padding: 30px 39px 60px;
  }

  @include desktop {
    padding: 60px 275px;
  }

  & .introduction {
    color: $color-back-text;
    text-transform: capitalize;
    font-size: rem(14);

    @include tablet {
      margin-bottom: 20px;
    }

    @include desktop {
      font-size: rem(16);
    }
  }

  & .main-title {
    text-transform: capitalize;
    line-height: 1.25;
    margin: 10px 0px;

    @include tablet {
      font-size: rem(26);
      margin-bottom: 30px;
    }

    @include desktop {
      font-size: rem(32);
    }

    & span {
      display: block;

      @include tablet {
        display: inline;
      }
    }
  }

  & .text {
    color: $color-light-text;
    font-size: rem(18);
    margin: 10px 0px;
    line-height: 1.5;

    @include tablet {
      font-size: rem(18);
    }
  }

  & .main-buttom {
    display: inline-block;
    text-transform: capitalize;
    color: $color-border-buttom;
    font-size: rem(20);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid $color-border-buttom;
    width: 76px;
    height: 45px;
    border-radius: 50px;

    @include tablet {
      width: 91px;
    }

    &:hover {
      background-color: $color-back-text;
      border: 6px;
      width: 150px;
      text-transform: uppercase;
      -webkit-transition: color linear 1s, border linear 0s,
        text-transform linear 0s, width ease 1s;
      -moz-transition: color linear 1s, border linear 0s,
        text-transform linear 0s, width ease 1s;
      -o-transition: color linear 1s, border linear 0s, text-transform linear 0s,
        width ease 1s;
      transition: color linear 1s, border linear 0s, text-transform linear 0s,
        width ease 1s;
    }
  }
}
