.options {
  background-color: $color-back-options;
  padding: 30px;
  height: 624px;
  text-align: center;
  // position: relative;

  & .options-title {
    text-transform: capitalize;
    margin: 15px 0px;
  }

  & .articles {
    height: 75%;
    display: grid;
    padding: 20px 68px;
    line-height: 1.67;
  }

  & .reasons-buttom {
    background-color: $color-border-buttom;
    display: inline-block;
    width: 190px;
    height: 45px;
    border-radius: 50px;
    padding: 13px;

    & .buttom-title {
      color: $color-light;
    }
  }

  & .narrow {
    background-color: $color-light;
    padding: 15px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-122px, 90px);
    box-shadow: 0px 2px 18px black;
  }
}
